
[data-animation='slide-up'].animated {
  animation: slide-up 0.5s ease;
}

[data-animation='slide-right'].animated {
  animation: slide-right 0.5s ease;
}

[data-animation='slide-down'].animated {
  animation: slide-down 0.5s ease;
}

[data-animation='slide-left'].animated {
  animation: slide-left 0.5s ease;
}

[data-animation='zoom-in'].animated {
  animation: zoom-in 0.5s ease;
}

[data-animation='zoom-out'].animated {
  animation: zoom-out 0.5s ease;
}

[data-animation]:not(.animated) {
  opacity: 0;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom-in-only-transform {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes zoom-out-only-transform {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}