.nav-link {
  color: var(--bs-nav-link-primary-color) !important;
}

.nav-link.active {
  background-color: rgb(var(--bs-primary-rgb)) !important;
  color: var(--bs-nav-link-active-primary-color) !important;
}

.nav-link:not(.active):hover {
  background-color: rgb(var(--bs-primary-light-rgb)) !important;
  color: var(--bs-nav-link-active-primary-color) !important;
}
