$primary:                          #13748e;
$secondary:                        #5d4595;

$btn-box-shadow:                    none;
$btn-focus-width:                   none;
$btn-focus-box-shadow:              none;
$btn-active-box-shadow:             none;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

img {  
    image-rendering: -webkit-optimize-contrast;
}