$btn-box-shadow: none;
$btn-focus-width: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import 'bootstrap/scss/bootstrap';

* {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

.screen.theme-1 {
  --bs-primary-rgb: 93, 69, 149;
  --bs-primary-light-rgb: 123, 99, 179;

  --bs-secondary-rgb: 19, 116, 142;
  --bs-secondary-light-rgb: 49, 146, 172;

  --bs-nav-link-primary-color: #5d4595 !important;
  --bs-nav-link-active-primary-color: #ffffff !important;
}

.screen.theme-2 {
  --bs-primary-rgb: 19, 116, 142;
  --bs-primary-light-rgb: 149, 190, 195;

  --bs-secondary-rgb: 93, 69, 149;
  --bs-secondary-light-rgb: 49, 146, 172;

  --bs-nav-link-primary-color: #13748e !important;
  --bs-nav-link-active-primary-color: #ffffff !important;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.no-transition {
  transition: none !important;
}

.nav-link {
  color: var(--bs-nav-link-primary-color) !important;
}

.nav-link.active {
  background-color: rgb(var(--bs-primary-rgb)) !important;
  color: var(--bs-nav-link-active-primary-color) !important;
}

.nav-link:not(.active):hover {
  background-color: rgb(var(--bs-primary-light-rgb)) !important;
  color: var(--bs-nav-link-active-primary-color) !important;
}

[data-animation='slide-up'].animated {
  animation: slide-up 0.5s ease;
}

[data-animation='slide-right'].animated {
  animation: slide-right 0.5s ease;
}

[data-animation='slide-down'].animated {
  animation: slide-down 0.5s ease;
}

[data-animation='slide-left'].animated {
  animation: slide-left 0.5s ease;
}

[data-animation='zoom-in'].animated {
  animation: zoom-in 0.5s ease;
}

[data-animation='zoom-out'].animated {
  animation: zoom-out 0.5s ease;
}

[data-animation]:not(.animated) {
  opacity: 0;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom-in-only-transform {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes zoom-out-only-transform {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes glowing {
  0% {
    background-color: #0091b2;
    box-shadow: 0 0 3px #0091b2;
  }

  50% {
    background-color: #21c7ed;
    box-shadow: 0 0 15px #21c7ed;
  }

  100% {
    background-color: #0091b2;
    box-shadow: 0 0 3px #0091b2;
  }
}

@keyframes monitor-on {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes monitor-off {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
