{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:vue/recommended", "plugin:vuejs-accessibility/recommended"],
  "rules": {
    "no-inline-comments":"warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-inner-declarations": 0,
    "no-irregular-whitespace": 0,
    "arrow-parens": 1,
    "camelcase": ["warn", { "properties": "always" }],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "quotes": ["warn", "single"],
    "max-len": [
      "warn",
      { "code": 200, "ignoreComments": true, "ignoreUrls": true }
    ],
    "semi": ["warn", "always"],
    "comma-dangle": ["warn", "never"]
  },
  "plugins": [
    "vue",
    "vuejs-accessibility"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
